@charset "UTF-8";
.example {
	margin:12px 6%;
	padding:20px 10px;
	border:2px solid #eee;
}
.flex-box {
	display:flex;
}
.flex-box .item {
	width:15%;
	padding:20px 0;
	height:4em;
	line-height:2em;
	font-size:1.2em;
	color:#fff;
	text-align:center;
}
.flex-title {
	flex-basis:20%;
	padding:10px;
	background:#f3f3f3;
	font-weight:bold;
	text-align:center;
}
.flex-content {
	flex:1;
	padding:10px;
}