<%- partial('_partial/head') %>
<body>
    <div id="wrap" class="wrap">
        <%- partial('_partial/header') %>
        <div id="container" class="container">
            <div class="content">
                <%- body %>
            </div>
        </div>
        <%- partial('_partial/footer') %>
    </div>
</body>
</html>