<footer id="footer" class="footer">
    <div class="footer__copyright">
        Copyright © Gameb
    </div>
    <script>
		$(function () {
			setTimeout(function () {
				PR.prettyPrint();
			},10);
		});
    </script>
</footer>