<header id="header" class="header">
    <h1 class="logo">
        <a href="/">
            gameb
        </a>
    </h1>
    <nav class="menu">
        <a href="/" class="menu__item">
            profile
        </a>
        <% for (var link in theme.menu) { %>
            <a href="/tags<%= theme.menu[link] %>" class="menu__item">
                <%= link %><small>
                    <% site.tags.sort('name').each(function(item){ %>
                        <% if (item.name == link) { %>
                            <% if (!item.parent) { %>
                                (<%= item.length %>)
                            <% } %>
                        <% } %>
                    <% }) %>
                </small>
            </a>
        <% } %>
    </nav>
</header>
